cloudformation-cli-python-lib==2.1.2
git+https://github.com/datadog/datadog-api-client-python.git@750a42c58c6246d4a0a14920c438c8986a41a7bd
git+https://github.com/datadog/datadog-cloudformation-resources.git@419643217fcb4702d55c69b3d9ce5ecbb294e028#egg=datadog_cloudformation_common&subdirectory=datadog-cloudformation-common-python
